.result{
  height: 6rem;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.r-box{
  border: 1px solid red;
  flex-basis: 30%;
}