/* =============== navbar ======================= */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  position: absolute;
  z-index: 10;
}
.logo{
  width: 15%;
  padding-block: 12px;
}
.logo img{
  width: 100%;
}
.nav-linkk{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
}
.nav-links{
  width: 70%;
  padding-inline: 12vw;
}
.nav-links a{
  margin-left: 1em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-size: 20px;
}
.nav-links a::before{
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #1e1e1f;
  height: 3px;
  width: 0;
  bottom: -8px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}
.nav-links a:hover::before{
  width: 100%;
}
/* ============== Smenu scroll btn ================================== */
.sidebar-btn{
  height: 27px;
  width: 32px;
  position: relative;
  display: none;
  }
.bar{
  height: 6px;
  width: 100%;
  background-color: #000;
  position: absolute;
  cursor: pointer;
  border-radius: 10px;
}
.bar:nth-child(1){
  top: 0;
}
.bar:nth-child(2){
  top: 50%;
  transform: translateY(-50%);
}
.bar:nth-child(3){
  top: 100%;
  transform: translateY(-100%);
}
.sidebar-btn .active{
  height: 40px;
}
.nav-btn{
  background-color: black;
  color: white;
  padding: 10px 45px;
  border-radius: 24px;
  transition: 0.5s ease;
}
.nav-btn:hover {
  background-color: #1b1b1b;
  transform: scale(1.1);
}
@media(max-width:776px){
  .nav-linkk{
    display: none;
  }
  .logo{
    width: 40%;
  }
  .sidebar-btn{
    display: block;
  }
}