/* =============== navbar ======================= */
.navbar{
  min-height: 55px;
  color: #0A0A0A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  width: 200px;
  padding-block: 12px;
}
.logo img{
  width: 100%;
}
.nav-links a{
  margin-left: 1em;
  color: #575757;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-size: 18px;
}
.nav-links a::before{
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #1e1e1f;
  height: 3px;
  width: 0;
  bottom: -8px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}
.nav-links a:hover::before{
  width: 100%;
}
/* ============== Smenu scroll btn ================================== */
.sidebar-btn{
  height: 27px;
  width: 32px;
  position: relative;
  display: none;
  }
.bar{
  height: 6px;
  width: 100%;
  background-color: #575757;
  position: absolute;
  cursor: pointer;
}
.bar:nth-child(1){
  top: 0;
}
.bar:nth-child(2){
  top: 50%;
  transform: translateY(-50%);
}
.bar:nth-child(3){
  top: 100%;
  transform: translateY(-100%);
}
.sidebar-btn .active{
  height: 40px;
}
@media(max-width:776px){
  .nav-links{
    display: none;
  }
  .sidebar-btn{
    display: block;
  }
}
@media(max-width: 996px){
  .navbar{
    border: 1px solid red;
  }
  .sidebar-btn{
    border: 1px solid red;
  }
  .nav-links{
    border: 1px solid red;
  }
}