/* =============== navbar ======================= */
.navbar{
  height: 55px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  background-color: #fff;
  color: #0A0A0A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0,0,0,0.2);
  color: #57b5f8;
}
.logo span{
  color: #575757;
}
.nav-links a{
  margin-left: 1em;
  color: #575757;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}
.nav-links a::before{
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #57b5f8;
  height: 5px;
  width: 0;
  bottom: -8px;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}
.nav-links a:hover::before{
  width: 100%;
}
/* ============== Smenu scroll btn ================================== */
.sidebar-btn{
  height: 27px;
  width: 32px;
  position: relative;
  display: none;
  }
.bar{
  height: 6px;
  width: 100%;
  background-color: #575757;
  position: absolute;
  cursor: pointer;
}
.bar:nth-child(1){
  top: 0;
}
.bar:nth-child(2){
  top: 50%;
  transform: translateY(-50%);
}
.bar:nth-child(3){
  top: 100%;
  transform: translateY(-100%);
}
.sidebar-btn .active{
  height: 40px;
}
@media(max-width:776px){
  .nav-links{
    display: none;
  }
  .sidebar-btn{
    display: block;
  }
}