.sidebar{
    height: 100vh;
    width: 100%;
    background-color: #EDE6D3;
    padding-top: 10px;
    animation: 0.3s slideLeft;
}
@keyframes slideLeft{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
.sidebarLinks{
    display: block;
    padding: 1rem;
    margin-bottom: 10px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}